// WP vars.
$wp-admin-menu-width:           160px;
$wp-admin-bar-height:           32px;
$wp-border-radius:              5px;
$wp-box-shadow:                 inset 0 1px 2px rgba(0, 0, 0, 0.07);

// Padding.
$lto-padding-md:                2rem;
$lto-padding-sm:                1rem;
$lto-padding-xs:                0.5rem;

// Transitions.
$lto-transition:                .4s;

// Borders.
$lto-border-radius:             4px;
$lto-border-shadow:             0 2px 2px lighten( $lto-border-color, 80 );
